# --- System Files ---
.DS_Store
*.log

# --- Flutter/Dart ---
flutter-app/.dart_tool/
flutter-app/.packages
flutter-app/.pub-cache/
flutter-app/build/

# --- Node / Web-Admin ---
web-admin/node_modules/
web-admin/build/
web-admin/.env

# --- Python / ML-Service ---
ml-service/__pycache__/
ml-service/venv/
ml-service/*.pyc
ml-service/.env

# --- DevOps / Infrastructure ---
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
